streamlit
pandas
datetime
pillow
click
more-itertools
pytest
streamlit-aggrid
streamlit-option-menu
autopep8
watchdog
qrcode
segno
streamlit_js_eval
streamlit_server_state
gspread
oauth2client
PyMuPDF